/* 日间模式页面调整 */
[data-theme=light] {
    --card-bg: rgba(255,255,255,.9) !important; /* 全局背景调整 */
}

/* 夜间模式页面调整 */
[data-theme=dark] {
    --card-bg: rgba(26, 27, 29, .9) !important; /* 全局背景调整 */
    --btn-bg: #012c48 !important; /* 页面所有按钮夜间背景色 */
}

[data-theme=light] {
    --card-bg: rgba(255,255,255,.9) !important; /* 全局背景调整 */
  }

[data-theme=dark] {
    --card-bg: rgba(26, 27, 29, .9) !important; /* 全局背景调整 */
  }
  
#aside-content.aside-content > .sticky_layout > .card-widget.card-clock > .card-glass > .card-background {
    background-color: unset ;
    box-shadow: unset ;
}

#web_bg{
/* 	background-image: url(https://tu.my/i/2022/08/27/630983529c790.jpg) !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important; 
*/

	background-image: linear-gradient(-225deg, #ffb97c 0%, #D7FFFE 100%) !important;
}